{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ontvangen goederen in magazijn</h1>
    <h4>Barcode Aantal Leverancier</h4>

    {% for ontvangen in ontvangengoederen %}
        <li>

            {{ ontvangen.id }}      {{ ontvangen.aantal }}          {{ ontvangen.leverancier }}

        </li>
    {% endfor %}
{% endblock %}
