{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ontvangen goederen in magazijn</h1>
<table class="table table-bordered table-striped table-hover">

     <thead>
        <td>Barcode</td>
        <td>Aantal</td>
        <td>Leverancier</td>
        </thead>
        <tbody>
    {% for ontvangen in ontvangengoederen %}

        <tr>
            <td>{{ ontvangen.id }}</td>
            <td>{{ ontvangen.aantal }}</td>
            <td>{{ ontvangen.leverancier }}</td>
        </tr>

    {% endfor %}
        </tbody>
    </table>

{% endblock %}